<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="welcome">

	<div>

		<div class="center-item">			

			<h3>Bienvenidos a MAPPAS</h3>

			<br>

			<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro iste, earum reiciendis incidunt, animi accusamus minus maiores amet officiis.</p> -->

			<button class="bmb-btn t-4" [routerLink]="['/register']" routerDirection="root">Regístrate</button>

			<br>

			<span class="already">Ya tengo una cuenta, <span [routerLink]="['/login']" routerDirection="root">Acceder</span></span>

		</div>
		
	</div>

</ion-content>
