<div class="circle" id="tab-circle" (click)="retomar()">
  <ion-icon name="document-text-outline"></ion-icon>
</div>
<ion-tabs>
<!-- /*Explicaciones*/ -->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <!-- <span class="img-tab home"></span> -->
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="preguntas"> -->
    <ion-tab-button>
      <!-- <span class="img-tab offers"></span> -->
      <!-- <ion-label>Retomar</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <!-- <span class="img-tab events"></span> -->
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>